$themeColor-1: #fad2d6;
$themeColor-2: #757575;
$themeColor-2-light: #b1b1b1;
$themeColor-2-light-op: #e9e9e9a8;
$themeColor-2-dark: rgb(22, 22, 22);
$themeColor-3: #fff;
$themeColor-3-light-op: rgba(255, 255, 255, 0.5);
$themeColor-4: #263d3a;
$themeColor-4-dark: #11252a;
$themeColor-5: #b58052;
$themeColor-5-light: #f1c284;
$themeColor-5-dark: #7c6451;
$themeColor-6: #ce0000;

:root {
  --minusheight: 306px;
}